@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-texture dark:bg-texture-dark;
  }

  .font-display-serif {
    font-feature-settings: "ss02", "ss03", "ss04", "ss05", "ss07", "ss08",
      "ss09", "ss10", "ss11", "ss12", "ss13";
  }
}

@layer utilities {
  .text-align-last-center {
    text-align-last: center;
  }
  .text-align-last-right {
    text-align-last: right;
  }
  .text-align-last-left {
    text-align-last: left;
  }
  .text-align-last-justify {
    text-align-last: justify;
  }
  .text-align-last-unset {
    text-align-last: unset;
  }
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }
  .text-shadow-none {
    text-shadow: none;
  }

  .min-h-screen-safe {
    min-height: 100dvh;
  }
}

.you-died-animation {
  animation-name: you-died-animation;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

.you-died-animation-late {
  animation-name: you-died-animation-late;
  animation-duration: 20s;
  animation-iteration-count: 1;
}

@keyframes you-died-animation {
  from {
    opacity: 0;
    text-shadow: 0 0 0.6em orange;
  }

  15% {
    opacity: 1;
    text-shadow: 0 0 1em orangered;
  }

  to {
    opacity: 1;
  }
}

@keyframes you-died-animation-late {
  from {
    opacity: 0;
    text-shadow: 0 0 0.6em orange;
  }

  5% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    text-shadow: 0 0 1em orangered;
  }

  to {
    opacity: 1;
    text-shadow: 0 0 1em orangered;
  }
}
