@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-texture dark:bg-texture-dark;
  }
}

@layer components {
  .home-hero {
    background-image: linear-gradient(
      to top,
      rgb(27, 10, 0) 10%,
      rgb(58 23 3 / 50%)
    );
  }
}

@layer utilities {
  .text-align-last-center {
    text-align-last: center;
  }
  .text-align-last-right {
    text-align-last: right;
  }
  .text-align-last-left {
    text-align-last: left;
  }
  .text-align-last-justify {
    text-align-last: justify;
  }
  .text-align-last-unset {
    text-align-last: unset;
  }
  .min-h-screen-wk {
    min-height: -webkit-fill-available;
  }
}

.you-died-animation {
  animation-name: you-died-animation;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

.you-died-animation-late {
  animation-name: you-died-animation-late;
  animation-duration: 20s;
  animation-iteration-count: 1;
}

@keyframes you-died-animation {
  from {
    opacity: 0;
    text-shadow: 0 0 0.6em orange;
  }

  15% {
    opacity: 1;
    text-shadow: 0 0 1em orangered;
  }

  to {
    opacity: 1;
  }
}

@keyframes you-died-animation-late {
  from {
    opacity: 0;
    text-shadow: 0 0 0.6em orange;
  }

  5% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    text-shadow: 0 0 1em orangered;
  }

  to {
    opacity: 1;
    text-shadow: 0 0 1em orangered;
  }
}
